.yellow {
  color: #fec92f;
}

.chevron-r {
  position: absolute;
  right: -15px;
  top: 50%;
  z-index: 1000;
}

.chevron-r-internet {
  position: absolute;
  right: 5px;
  top: 50%;
  z-index: 1000;
}

.fa-chevron-right {
  font-size: 25px;
  color: #e0aa00;
}

.fa-chevron-left {
  font-size: 25px;
  color: #e0aa00;
  display: inline;
}
